.ytd-shorts {
  display: none;
}

#guide-icon.ytd-masthead {
  display: none !important;
}

.ytd-rich-grid-renderer {
  display: none !important;
}

#secondary.ytd-watch-flexy {
  background-color: red;
  display: none !important;
}

ytd-reel-shelf-renderer {
  background-color: red;
  display: none !important;
  flex-direction: column;
}